.profile__button-edit {
    width: 24px;
    height: 24px;
    background: url("../../../images/pencil.svg") no-repeat center;
    background-size: 10px;
    border: 1px solid white;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__button-edit:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .profile__button-edit{
        width: 18px;
        height: 18px;
        background-size: 7.5px;
    }
}