.popup__button-save{
    color: white;
    background-color: black;
    width: 100%;
    max-width: 358px;
    height: 50px;
    margin: 48px auto 37px;
    padding: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 2px;
}

.popup__button-save:disabled, .popup__button-save[disabled] {
    background-color: transparent;
    color: rgba(0,0,0,0.2);
    pointer-events: none;
    border: black solid 1px;
}

.popup__button-save:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .popup__button-save {
        font-size: 14px;
        margin: 45px auto 25px;
        max-width: 238px;
        height: 46px;
    }
}