.profile {
    max-width: calc(100% - 400px);
    height: 100%;
    width: 100%;
    margin: 40px auto 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

@media screen and (max-width: 999px) {
    .profile {
        max-width: calc(100% - 38px);
        flex-direction: column;
        align-items: center;
        gap: 0;

    }
}