.popup__image_orientation_portrait {
    max-width: 433px;
    width: 100%;
    max-height: 540px;
    height: 100%;
}

@media screen and (max-width: 767px) {
    .popup__image_orientation_portrait {
        max-width: 216px;
        max-height: 270px;
    }
}