.add-place__popup-title {
    max-width: 380px;
    width: 100%;
    margin: 34px 36px 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 900;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .add-place__popup-title {
        margin: 25px 22px 0;
        max-width: 238px;
        font-size: 18px;
    }
}