.footer {
    width: calc(100% - 400px);
    align-self: end;
    margin: 66px auto 60px;
}

@media screen and (max-width: 999px) {
    .footer {
        width: calc(100% - 38px);
        margin: 48px auto 36px;
    }
}