.popup__window {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    max-width: 430px;
}

@media screen and (max-width: 767px) {
    .popup__window {
        max-width: 282px;
        margin-top: 8px;
    }
}