.popup__button-close {
    width: 32px;
    height: 32px;
    background: url("../../../images/close.png") no-repeat center;
    margin-left: auto;
    align-self: self-start;
}

.popup__button-close:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .popup__button-close {
        width: 20px;
        height: 20px;
    }
}