.profile__info{
    color: white;
    font-family: 'Inter', 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

@media screen and (max-width: 999px) {
    .profile__info {
        gap: 14px;
        margin-bottom: 36px;
    }
}