.elements_popup__button-close {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    background: url("../../../../images/close.svg") no-repeat center;
    background-size: 32px;
    border: none;
    align-self: self-start;
}
.elements_popup__button-close:hover {
    cursor: pointer;
    opacity: 0.6;
}