.element__trash {
    background: url("../../../images/trash.svg") no-repeat center;
    background-size: 19px;
    width: 19px;
    height: 19px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.element__trash:hover {
    cursor: pointer;
    opacity: 0.6;
}