.add-place__popup-window{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    max-width: 430px;
}

@media screen and (max-width: 767px) {
    .add-place__popup-window {
        max-width: 282px;
    }
}