.element__button-like {
    width: 22px;
    height: 22px;
    border: none;
    background: url("../../../images/like.svg") no-repeat center;
    background-size: 22px;
}

.element__button-like:hover {
    cursor: pointer;
    opacity: 0.5;
}